html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

:root {
    --themebgGray: #e5e7eb;
    --headerbgColor: white;
}

body {
    background-color: var(--themebgGray);
}

header {
    background-color: var(--headerbgColor);
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-book-button {
    margin: 10px auto;
    font-size: 25px;
    padding: 5px 10px;
    background-color: white;
    border: 4px #374151 solid;
    border-radius: 10px;
    
}

.add-book-button:hover {
    background-color: 
    #f3f4f6;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.card {
    background-image: linear-gradient(#4ade80, #bbf7d0);
    border: 0px;
    border-radius: 10px;
    padding: 30px 15px;
    font-size: 22px;
    text-align: center;
    position: relative;

    width: clamp(300px, 25vw, 450px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card.not-read {
    background-image: linear-gradient(#f87171, #fca5a5);
}

.card div:not(.card div:last-child) {
    border-bottom: 1px solid grey;
}

.book-read-card {
    color: var(--themebgGray);
    background-color: #16a34a;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.book-read-card::selection {
    text-decoration: none;
}

.book-read-card:hover {
    background-color: #11813a;
}

.book-read-card.not-read {
    background-color: 
    #dc2626;
    color: var(--themebgGray);
}

.book-read-card.not-read:hover {
    background-color: #ad1c1c;
}

.delete-book {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    border: none !important;
    background-image: url(./images/delete-blackBG-124x124.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.delete-book:hover {
    transform: rotate(20deg);
}

.delete-book:active {
    transform: rotate(0deg);
}

div.note {
    font-size: 10px;
    width: 30%;
    position: absolute;
    top: 2px;
    right: 2px;
}


/* CSS for modal */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.modal-content {
    width: min(400px, 90%);
    background-color: var(--themebgGray);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    position: relative;   
}

.modal-heading {
    font-size: 25px;
    font-weight: 600;
}

form {
    padding-top: 20px;
}

input[type='text'], input[type='number'] {
    appearance: none;
    font-size: 25px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.modal .checkbox-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    appearance: none;
    border: 1px gray solid;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    position: relative;
}

input[type="checkbox"]::before {
    content: '\2713';
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: -9px;
    right: 0;
    visibility: hidden;
}

input[type='checkbox']:checked::before {
    visibility: visible;
}

form div+div {
    margin-top: 20px;
}

label {
    font-size: 20px;
}

.modal .modal-close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    color: #dc2626;
    cursor: pointer;
}

.submit-button button {
    font-family: poppins;
    font-size: 22px;
    padding: 5px 25px;
    background-color: #16a34a;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
}

.submit-button button:hover {
    background-color: #15803d;
}
