html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

:root {
    --themebgGray: #e5e7eb;
    --headerbgColor: white;
}

body {
    background-color: var(--themebgGray);
}

header {
    background-color: var(--headerbgColor);
    height: 20vh;
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.card {
    background-image: linear-gradient(#4ade80, #86efac);
    border: 0px;
    border-radius: 10px;
    padding: 30px 15px;
    font-size: 22px;
    text-align: center;

    width: clamp(300px, 25vw, 450px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card div:not(.card div:last-child) {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.book-read-card {
    color: var(--themebgGray);
    background-color: #16a34a;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card.not-read {
    background-image: linear-gradient(#f87171, #fca5a5);
}

.book-read-card.not-read {
    background-color: 
    #dc2626;
    color: var(--themebgGray);
}


/* CSS for modal */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;

}


.modal-content {
    width: 400px;
    background-color: var(--themebgGray);
    padding: 40px;
    text-align: center;
    position: relative;
    
}

.modal-heading {
    font-size: 25px;
    font-weight: 600;
}

form {
    padding-top: 20px;
}

input[type='text'], input[type='number'] {
    appearance: none;
    font-size: 25px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.modal .checkbox-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    appearance: none;
    border: 1px gray solid;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    position: relative;

}

input[type="checkbox"]::before {
    content: '\2713';
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: -9px;
    right: 0;
    visibility: hidden;
}

input[type='checkbox']:checked::before {
    visibility: visible;
}

form div+div {
    margin-top: 15px;
}

label {
    font-size: 20px;
}

.modal .modal-close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    color: #dc2626;
    cursor: pointer;
}
